@import '_fonts';
@import '_colors';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    .logo {
        width: 48px;
        margin-right: 5%;
    }

    .title {
        @extend .font-title;
        color: $primary;
    }
}
